<!DOCTYPE html>
<html>

<head>
  <title>Art</title>
</head>

{% extends 'base.html' %} {% block content%}

<div class="container">
<div class="container gallery-container">  
    <h1 class="text-center">Art from the U.Va Makerspace</h1>  
    <p class="page-description text-center">These images depict sketches of the uhadi, a traditional Xhosa instrument. It is played mostly by women, the calabash resonator placed against the chest to control different pitches as a bow or fingers play it percussively. Working with local Makhanda visual artist Andiswa Rabeshu, also known as Bliss, we hosted a collaborative sketching session. As Bliss painted, our participants drew different representations of the uhadi, incorporating colors, textures, and shapes the instrument or its sound brought to mind. Similarly, you can see the umrhubhe, another traditional Xhosa bowed instrument, in our site logo. Click the links to hear the beautiful and complex sounds produced by the <a href="https://youtu.be/Q9iIXnP1UBY">uhadi</a> and <a href="https://youtu.be/wFn_R8yzqMc">umrhubhe.</a></p>     
    <div class="tz-gallery"> 
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch4.jpg" %}">
                    <img src="{% static "sketch4.jpg" %}" alt="sketch 1" class="card-img-top">
                    </a>
                </div>
            </div>             
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch2.jpg" %}">
                    <img src="{% static "sketch2.jpg" %}" alt="sketch 2" class="card-img-top">
                    </a>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch3.jpg" %}">
                    <img src="{% static "sketch3.jpg" %}" alt="sketch 3" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
          <div class="row"> 
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch1.jpg" %}">
                    <img src="{% static "sketch1.jpg" %}" alt="sketch 4" class="card-img-top">
                    </a>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch5.jpg" %}">
                    <img src="{% static "sketch5.jpg" %}" alt="sketch 5" class="card-img-top">
                    </a>
                </div>
            </div>             
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "sketch6.jpg" %}">
                    <img src="{% static "sketch6.jpg" %}" alt="sketch 6" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}