<!DOCTYPE html>
<html>

<head>
  <title>Art</title>
</head>

{% extends 'base.html' %} {% block content%}

<div class="container">
<div class="container gallery-container">  
    <h1 class="text-center">Art from the Makerspace</h1>  
    <p class="page-description text-center">A description of the art Molly collated for this page will go here.</p>     
    <div class="tz-gallery"> 
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses1.jpg" %}">
                    <img src="{% static "moses1.jpg" %}" alt="moses 1" class="card-img-top">
                    </a>
                </div>
            </div>             
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses2.jpeg" %}">
                    <img src="{% static "moses2.jpeg" %}" alt="moses 2" class="card-img-top">
                    </a>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses3.jpg" %}">
                    <img src="{% static "moses3.jpg" %}" alt="moses 3" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
          <div class="row"> 
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses4.jpg" %}">
                    <img src="{% static "moses4.jpg" %}" alt="moses 4" class="card-img-top">
                    </a>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses5.jpg" %}">
                    <img src="{% static "moses5.jpg" %}" alt="moses 5" class="card-img-top">
                    </a>
                </div>
            </div>             
            <div class="col-md-4">
                <div class="card">
                	{% load static %}
                    <a class="lightbox" href="{% static "moses6.jpeg" %}">
                    <img src="{% static "moses6.jpeg" %}" alt="moses 6" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}