<!DOCTYPE html>
<html>

<head>
  <title>Audio Visualization</title>
</head>

{% extends 'base.html' %} {% block content%}
<div class="container">
	<h1 align="center" class="display-4">The Uhadi</h1>
	<h2 align="center" class="lead">Makonnen Makonnen created an audio-visual analysis of the Xhosa instrument called the Uhadi. The Uhadi is a stringed instrument played by hitting the string with a thin reed. The instrument produces very unique overtones and colors  which are transformed by how the player shifts it. This visualizer attempts to show us that. We are able to capture aspects of the instrument that make it unique and represent it in a different manner by utilizing various audio analysis technologies.
</h2>
</div>

<iframe style="width:100%;padding-top: 25px" height="703" src="https://www.youtube.com/embed/f0qrHYTNwVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

{% endblock %}

