<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
</head>

{% extends 'base.html' %} {% block content%}
<div class="jumbotron"> 
  <div class="container" style="align-items: center;">
    <h1 class="display-2">U.Va x Makhanda</h1>
    <p class="lead">A transatlantic multimedia collaboration. Sherman's project goals statement goes here. Eventually this jumbotron will be replaced with an object that integrates Molly's logo, too.</p>
  </div>
</div>
<div class="row">
<div class="col-md-12" padding-right="0" padding-left="0">
	<iframe style="width:100%" height="703" src="https://www.youtube.com/embed/j0itX7raD8s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
</div>
</div>
<div class="row">
<div class="col-md-12" padding-right="0" padding-left="0">
	<div id="slides" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/art_link.png">
				<div class="carousel-caption">
					<h1 class="display-2">Molly's Art Scans</h1>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/music_link.png">
				<div class="carousel-caption">
					<h1 class="display-2">The Tracks We Did</h1>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/film_link.png">
				<div class="carousel-caption">
					<h1 class="display-2">Makonnen's Video</h1>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}

