<!DOCTYPE html>
<html>

<head>
  <title>Music</title>
</head>

{% extends 'base.html' %} {% block content%}
<div class="container">
	<h1 align="center" class="display-4">Musical Collaboration</h1>
	<h2 align="center" class="lead">Over a Skype feed linking the Jefferson Starship recording studio in Wilson Hall at U.Va to the Black Power Station, students participated in a live beatmaking session, working with samples curated from ILAM and chatting with Biz, Black Power Station's hip hop producer extraordinaire. Nash Ogden, Remy Kyle, and Andrea Thompson completed the track begun during this session. Other students created original works inspired by this moment of cross-cultural collaboration.
</h2>
</div>

<iframe width="100%" height="166" style="padding-top:25px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/618096018&color=%23c53221&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<iframe width="100%" height="166" style="padding-top:25px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/617793255&color=%23c53221&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<iframe width="100%" height="166" style="padding-top:25px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/617797878&color=%23c53221&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<iframe width="100%" height="166" style="padding-top:25px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/617807598&color=%23c53221&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

{% endblock %}
